// this file is for both pc and mobile styles

:root {
  --radius-base: 4px;
  --radius-big: 11px;
  --radius-bigger: 15px;

  --font-family-regular: PingFangSC-Regular;
  --font-family-bold: PingFangSC-Semibold;
  --font-family-medium: PingFangSC-Medium;

  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;

  // todo: base/big margin, padding ...etc
  --padding-xsmall: 8px 16px;
  --padding-small: 12px 12px;
  --padding-1: 12px 16px;
  --padding-2: 16px 16px;

  --margin-1: 0 12px;
  --margin-2: 0 16px;  

  --margin-right-size-12: 12px; // right margin
  --margin-size-8: 8px;
  --margin-size-16: 16px;
  --margin-size-24: 24px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-12);
}

input {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

i {
  font-size: var(--font-size-14);
}

// set h1, h2, h3, h4, h5 font-size, font-family
title {
  font-family: var(--font-family-bold)
}

hr {
  border: 0;
  height: 0;
  border-top: 0.25px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.25px solid #3333334D;
}