.login{
    .inputbox {
    width: 100%;
    height: 38px;
    margin-bottom: 12px;
    display: block;
    background-color: #F4F5F9;
    box-sizing: border-box;
    border-radius: 19px;
    font-size: 10pt;
    padding-left: 12px;
}

    .textfield {
        height: 38px; 
        margin-left: 8px;
        display: inline-block;
        font-size: 10pt;
        font-family: PingFangSC-Light;
        line-height: 38px;
        vertical-align: top;
    }

    .dividing-line {
        height: 38px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        font-size: 12pt;
        font-family: PingFangSC-Light;
        line-height: 38px;

    }

    .inputfield {
        background-color: #F4F5F9;
        padding-left: 10px;
        font-size: 10pt;
        width: 70%;
    }

    .login-button {
        margin-top: 30px;
        width: 100%;
        display: block;
        border-radius: 19px !important;
        line-height: 36px;
    }

    .login-logo {
        width: 72px;
        height: 72px;
        margin: 60px auto;
        background-size: 72px 72px;
        background-image:url("../../../../assets/login-logo.jpg");
    }

    .card-footer {
        position: absolute;
        top: 90%;
        color: gray;
        width: 80%;
        text-align: center;
    }
}