.faqgroup {
  margin-bottom: var(--top-margin-3);
  .faqgroup-title {
    font-size: var(--font-size-3);
    font-family: var(--font-family-medium);
    margin: var(--top-margin-1) var(--right-margin-1);
  }
}
